/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  background-image: url("http://res.cloudinary.com/deh4rnozs/image/upload/v1456423022/seamless_paper_texture_xhdphq.png");
}

header {
  min-width: 990px;
}

header img {
  max-width: 100%;
  height: auto;
  width: auto;
}

header .header-content {
  top:80px;
  left:20px;
  position: absolute;
  color: white;
}

.clickable{
  cursor: pointer;
  cursor: hand;
}

.center_div{
    margin: 0 auto;
    width: 172px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumbnail-content {
  height: 150px;
  width: 300px;
  bottom:-60px;
  left:10px;
  position: relative;
  color: white;
  font-family: 'Lobster', serif;
}

.event-index {
  padding-top: 20px;
}

.group_icon {
  position: absolute;
  left: -250px;
  top: 0px;
  z-index: -1;
  clip-path: inset(25px 250px 25px 250px);
}
