/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar, .btn-lg, .modal {
  font-family: Fondamento, cursive;
}

.nav-pills, .groups-title {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 40px;
}

.gray-background {
  background:rgba(0,0,0,0.5);
}

h3 {
  font-family: 'Playfair Display', cursive;
}

body {
  margin: 0;
  padding-top: 70px;
  background-image: url("http://res.cloudinary.com/deh4rnozs/image/upload/v1456718763/97e4920803e5054f990f8cd529a8c0e4_a0vcrg.jpg");
}

header {
  min-width: 990px;
}

header img {
  max-width: 100%;
  height: auto;
  width: auto;
}

header .header-content {
  top:80px;
  left:20px;
  position: absolute;
  color: white;
}

.group-header-content {
  position: absolute;
  color: white;
  left: 300px;
  padding: 20px 0;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 40px;
}

footer {
  margin-top: 20px;
  background-color: white;
  position: relative;
  height: 100px;
  bottom: 0;
  width: 100%;
}

.user-index-item {
  right: 20px;
}

.navbar-brand {
  padding: 12px 15px;
}

.groups-index {
  width: 980px;
  padding: 0px 0px 40px 0px;
}

.container {
  width: 950px;
}

.search-modal-content {
  position: relative;
  width: 0px;
}

.footer {
  padding-top: 20px;
}

.clickable{
  cursor: pointer;
  cursor: hand;
}

.center-div {
  margin: 0 auto;
}

.sign-in-or-up {
  width: 172px;
}

.thumbnail-content {
  padding: auto 20px;
  height: 170px;
  width: 280px;
  left:10px;
  position: relative;
  color: white;
  font-family: 'Lobster', serif;
}

.items-index {
  padding-top: 20px;
}

.group-icon {
  position: absolute;
  padding: auto 20px;
}

.info-box {
  position: relative;
  left:0;
  right:0;
  bottom:0;
}

.paper-box {
  font-family: 'Playfair Display', cursive;
  font-size: 20px;
  background-image:url("http://res.cloudinary.com/deh4rnozs/image/upload/v1456718348/paper_ztqxwe.png");
  margin: 10px;
  padding: 20px;
  display: inline-block;
}

.flex-center {
  display: flex;
  justify-content: center;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

header#slider { overflow: hidden; }
header#slider figure img { width: 20%; float: left; }
header#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
